.navbar {
  background: $background-light;
  transition: all 0.6s ease;
  position: fixed;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 0;

  &.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  }

  .navbar-container {
    padding: 0 1.5rem;
    height: 55px;
    max-width: $width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
  }

  .brand {
    a {
      display: flex;
      align-items: center;
      color: $font-primary-light;
      margin-right: 0;
      font-weight: 600;
      font-size: 1.2rem;

      &:hover,
      &:focus {
        color: black;
      }
    }

    .icon {
      height: 30px;
      width: 30px;
      margin-bottom: 0;
    }

    .title {
      display: none;
    }
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    margin: 0;

    a {
      display: flex;
      align-items: center;
      font-size: 1.05rem;
      font-weight: 500;
      padding: 1rem 0.75rem;
      margin: 0;
      color: $font-tertiary-light;
      line-height: 1.2;
      text-align: center;

      &:hover,
      &:active {
        color: $font-primary-light;
      }
    }
  }

  .toggleTheme {
    display: flex;
    align-items: center;

    input {
      position: absolute;
      left: 2em;
      visibility: hidden;
    }

    .toggle {
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 40px;
      height: 25px;
      background-color: #83d8ff;
      border-radius: 40px - 6;
      transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

      .toggle__handler {
        display: inline-block;
        position: relative;
        z-index: 1;
        top: 3px;
        left: 3px;
        width: 25px - 6;
        height: 25px - 6;
        background-color: #ffcf96;
        border-radius: 25px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: rotate(-45deg);

        .crater {
          position: absolute;
          background-color: #e8cda5;
          opacity: 0;
          transition: opacity 200ms ease-in-out;
          border-radius: 100%;
        }

        .crater--1 {
          top: 8px;
          left: 4px;
          width: 2px;
          height: 2px;
        }

        .crater--2 {
          top: 12px;
          left: 10px;
          width: 3px;
          height: 3px;
        }

        .crater--3 {
          top: 4px;
          left: 10px;
          width: 4px;
          height: 4px;
        }
      }

      .star {
        position: absolute;
        background-color: #ffffff;
        transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        border-radius: 50%;
      }

      .star--1 {
        top: 5px;
        left: 15px;
        z-index: 0;
        width: 14px;
        height: 2px;
      }

      .star--2 {
        top: 9px;
        left: 12px;
        z-index: 1;
        width: 14px;
        height: 2px;
      }

      .star--3 {
        top: 13px;
        left: 17px;
        z-index: 0;
        width: 14px;
        height: 2px;
      }

      .star--4,
      .star--5,
      .star--6 {
        opacity: 0;
        transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }

      .star--4 {
        top: 8px;
        left: 5px;
        z-index: 0;
        width: 1px;
        height: 1px;
        transform: translate3d(3px, 0, 0);
      }

      .star--5 {
        top: 16px;
        left: 7px;
        z-index: 0;
        width: 2px;
        height: 2px;
        transform: translate3d(3px, 0, 0);
      }

      .star--6 {
        top: 19px;
        left: 12px;
        z-index: 0;
        width: 1px;
        height: 1px;
        transform: translate3d(3px, 0, 0);
      }
    }

    input:checked {
      +.toggle {
        background-color: #749dd6;

        &:before {
          color: #749ed7;
        }

        &:after {
          color: #ffffff;
        }

        .toggle__handler {
          background-color: #ffe5b5;
          transform: translate3d(15px, 0, 0) rotate(0);

          .crater {
            opacity: 1;
          }
        }

        .star--1 {
          width: 1px;
          height: 1px;
        }

        .star--2 {
          width: 2px;
          height: 2px;
          transform: translate3d(-2px, 0, 0);
        }

        .star--3 {
          width: 1px;
          height: 1px;
          transform: translate3d(-3px, 0, 0);
        }

        .star--4,
        .star--5,
        .star--6 {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }

        .star--4 {
          transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }

        .star--5 {
          transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }

        .star--6 {
          transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
      }
    }
  }
}

@include breakpoint(sm) {
  .navbar {
    &.scroll {
      .navbar-container {
        height: 60px;
      }

      .navbar-items a {

        &:hover,
        &.active {
          color: $font-primary-light;
        }

        &:active {
          color: $font-primary-light;
        }
      }
    }

    .navbar-container {
      height: 90px;
      padding: 0 2rem;

      .brand {
        a {
          font-size: 1.4rem;
        }

        .icon {
          margin-right: 0.6rem;
        }

        .title {
          display: block;
        }
      }

      .navbar-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: unset;
        height: 100%;

        a {
          font-size: 1.1rem;
          margin: 0 1rem;
          padding: 1rem 0.3rem;
          border-bottom: 2px solid transparent;

          &.active {
            color: $font-primary-light;
          }
        }
      }
    }
  }
}

.dark {
  .navbar {
    background: $background-dark;
    transition: all 0.6s ease;

    &.scroll {
      box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.3);
    }

    .brand a {
      color: $font-primary-dark;

      &:hover {
        color: $font-secondary-dark;
      }
    }

    .navbar-items a {
      color: $font-tertiary-dark;

      &:hover,
      &.active {
        color: $font-primary-dark;
      }
    }
  }
}