$CODE_FONT: Menlo,
'Roboto Mono',
Courier New,
monospace;

$CODE_BG: #282A36;
$CODE_FG: #F8F8F2;
$CODE_SELECTIONLight: Lighten(#B3E5FC, 50%);
$CODE_SELECTIONDark: #44475A;

$CODE_COMMENT : #6272A4;
$CODE_ORANGE : #FFB86C;
$CODE_LineHighlight: #44475A75;
$CODE_BGLighter : #424450;
$CODE_BGLight : #343746;
$CODE_BGDark : #21222C;
$CODE_BGDarker : #191A21;

$CODE_BLACK : #4D4D4D;
$CODE_RED : #FF5555;
$CODE_GREEN : #50FA7B;
$CODE_YELLOW : #F1FA8C;
$CODE_PURPLE : #BD93F9;
$CODE_PINK : #FF79C6;
$CODE_CYAN : #8BE9FD;
$CODE_COLOR7 : #BFBFBF;
$CODE_COLOR8 : #575757;
$CODE_COLOR9 : #FF6E67;
$CODE_COLOR10: #5AF78E;
$CODE_COLOR11: #F4F99D;
$CODE_COLOR12: #CAA9FA;
$CODE_COLOR13: #FF92D0;
$CODE_COLOR14: #9AEDFE;
$CODE_COLOR15: #F8F8F2;

code {
  font-size: 13px;
}

pre.language-terminal code.language-terminal {
  position: relative;
  padding: 1rem;
  font-family: $CODE_FONT;
  border: 1px solid $CODE_BG;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding-top: 45px;
  margin: 2rem 0;
  font-size: 13px;
  background: $CODE_BGLight;
  transition: all 0.6s ease;
  color: $CODE_FG;

  &::before {
    content: '\2022 \2022 \2022';
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    background: $CODE_BGDark;
    transition: all 0.6s ease;
    color: $CODE_COLOR10;
    width: 100%;
    font-size: 2.5rem;
    margin: 0;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
    letter-spacing: -15px;
  }
}

/* Code blocks */

code[class*='language-'],
pre[class*='language-'],
pre code {
  font-family: $CODE_FONT;
  font-size: 13px;
  color: $CODE_FG;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.7;
  font-weight: 400;
  margin: 2rem 0;
  tab-size: 2;
  hyphens: none;
  border-radius: 0.25rem;
  -webkit-font-smoothing: antialiased;
}

pre code {
  display: block;
  padding: 1.5rem;
  overflow: auto;
  background-color: $CODE_BGLight;
  transition: all 0.6s ease;
  border: 0;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.3);
}


/* Inline code */

:not(pre)>code[class*='language-'] {
  padding: 3px 5px;
  color: $CODE_BGLight;
}

:not(pre)>code {
  padding: 3px 5px;
  border: none;
  font-family: $CODE_FONT;
  font-weight: 400;
  color: $CODE_BGLight;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.06);
  transition: all 0.6s ease;
}

code[class*='language-css'],
code[class*='language-scss'],
code[class*='language-less'],
code[class*='language-sass'] {
  color: $CODE_PINK;
}

.filename {
  background: $CODE_BGLight;
  transition: all 0.6s ease;
  padding: 0.5rem 1rem 0.75rem;
  font-size: 1rem;
  color: $CODE_FG;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -2.2rem;
}

/* Syntax Highlighting */

.token.doctype {
  background: $CODE_BGLight;
  transition: all 0.6s ease;
  color: $CODE_FG;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: $CODE_COMMENT;
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: $CODE_YELLOW;
}

.token.punctuation {
  color: $CODE_FG;
}

.token.operator {
  color: $CODE_COLOR11;
}

.token.variable {
  color: $CODE_CYAN;
}

.token.property {
  color: $CODE_PURPLE;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.constant,
.token.regex,
.token.inserted {
  color: $CODE_ORANGE;
}

.token.delimiter {
  background: $CODE_BGDarker;
  transition: all 0.6s ease;
  color: $CODE_FG;
  padding: 1px 2px;
}

.token.atrule {
  color: $CODE_PINK;
}

.token.keyword {
  color: $CODE_PINK;
}

.language-autohotkey .token.selector {
  color: $CODE_ORANGE;
}

.token.attr-name {
  color: $CODE_GREEN;
}

.token.function {
  font-weight: bold;
  color: $CODE_GREEN;
}

.language-php .token.function {
  color: $CODE_FG;
}

.token.class-name {
  color: $CODE_CYAN;
}

.token.deleted,
.language-autohotkey .token.tag {
  color: $CODE_RED;
}

.token.tag {
  color: $CODE_PINK;
}

.language-autohotkey .token.keyword {
  color: $CODE_PINK;
}

.token.selector {
  color: $CODE_GREEN;
}

.token.italic {
  font-style: italic;
}

pre[data-line] {
  position: relative;
  padding: 1rem 0;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1rem;
  /* Same as .prism’s padding-top */
  background: $CODE_LineHighlight;
  transition: all 0.6s ease;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background-color: transparent;
  transition: all 0.6s ease;
  color: transparent;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
  content: none;
}

pre::-moz-selection,
pre::-moz-selection,
code::-moz-selection,
code::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: $CODE_SELECTIONLight !important;
  transition: all 0.6s ease;
}


pre::selection,
pre::selection,
code::selection,
code::selection {
  text-shadow: none;
  color: inherit;
  background: $CODE_SELECTIONLight !important;
  transition: all 0.6s ease;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  color: inherit;
  background: $CODE_SELECTIONLight !important;
  transition: all 0.6s ease;
}

pre[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  color: inherit;
  background: $CODE_SELECTIONLight !important;
  transition: all 0.6s ease;
}

@include breakpoint(sm) {

  code,
  pre.language-terminal code.language-terminal,
  code[class*='language-'],
  pre[class*='language-'],
  pre code {
    font-size: 14px;
  }
}


.dark {
  :not(pre)>code[class*='language-'] {
    padding: 3px 5px;
    color: $CODE_FG;
  }

  :not(pre)>code {
    padding: 3px 5px;
    border: none;
    font-family: $CODE_FONT;
    font-weight: 400;
    color: $CODE_FG;
    border-radius: 4px;
    background: rgba(182, 182, 182, 0.1);
    transition: all 0.6s ease;
  }

  pre::-moz-selection,
  pre::-moz-selection,
  code::-moz-selection,
  code::-moz-selection {
    text-shadow: none;
    color: inherit;
    background: $CODE_SELECTIONDark !important;
    transition: all 0.6s ease;
  }


  pre::selection,
  pre::selection,
  code::selection,
  code::selection {
    text-shadow: none;
    color: inherit;
    background: $CODE_SELECTIONDark !important;
    transition: all 0.6s ease;
  }

  pre[class*='language-']::-moz-selection,
  pre[class*='language-']::-moz-selection,
  code[class*='language-'] ::-moz-selection,
  code[class*='language-'] ::-moz-selection {
    text-shadow: none;
    color: inherit;
    background: $CODE_SELECTIONDark !important;
    transition: all 0.6s ease;
  }

  pre[class*='language-']::selection,
  pre[class*='language-']::selection,
  code[class*='language-'] ::selection,
  code[class*='language-'] ::selection {
    text-shadow: none;
    color: inherit;
    background: $CODE_SELECTIONDark !important;
    transition: all 0.6s ease;
  }
}