.postlist {
  a {
    display: block;

    .postlist-item {
      display: grid;
      align-items: center;
      grid-template-columns: 70px 1fr 0;
      padding: 1rem 0;
      margin: 0;
      border-bottom: 2px solid white;
    }

    .post-thumbnail {
      margin-top: 0;
      height: 70px !important;
      width: 70px !important;
    }

    .post-title {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.3;
      border-bottom: none;
      padding: 0;
      margin: 0;
    }

    .post-subtitle {
      color: $font-tertiary-light;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding: 0;
    }
  }
}