.projectlist {
  .project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: 1px solid darken($background-light, 7%);
    transition: all 0.6s ease;

    .project-icon {
      align-self: flex-start;
      width: 7%;
      font-size: 2rem;
      margin-right: 1.2rem;
    }

    .project-details {
      align-self: center;
      border-bottom: none;
      width: 75%;
      margin-right: .5rem;

      .project-title {
        color: $font-secondary-light;
        font-size: 1.2rem;
        margin: 0;
        font-weight: 600;
      }

      .project-description {
        display: none;
      }
    }

    .project-buttons {
      display: flex;
      align-items: center;

      .button {
        margin: 0 .5rem .5rem 0;
        padding: 4px 10px;
        border: 2px solid $secondary-accent-color-light;
        text-align: center;
        width: 70px;
        border-radius: 0.25rem;
        background: $secondary-accent-color-light;
        color: $background-light;
        letter-spacing: 0.05rem;
        font-size: 12px;
        line-height: 16px;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          color: $secondary-accent-color-light;
          background: $background-light;
        }
      }
    }

    &:last-of-type {
      border-bottom-color: transparent;
    }
  }
}



@include breakpoint(sm) {
  .projectlist {
    .project {
      padding: 1rem 0;

      .project-icon {
        font-size: 2.5rem;
        margin-right: 1rem;
      }

      .project-details {
        margin-right: 1.5rem;

        .project-title {
          font-size: 1.6rem;
          margin: 0 0 0.25rem 0;
        }

        .project-description {
          display: contents;
          color: $font-tertiary-light;
          margin: 0;
          font-weight: 400;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.dark {
  .project {
    border-bottom: 1px solid lighten($background-dark, 10%);
    transition: all 0.6s ease;

    .project-details {
      .project-title {
        color: $font-secondary-dark;
      }

      .project-description {
        color: $font-tertiary-dark;
      }
    }

    .project-buttons {
      display: flex;
      align-items: center;

      .button {
        border: 2px solid $secondary-accent-color-dark;
        background: $secondary-accent-color-dark;
        color: $background-dark;
        transition: all 0.25s ease;

        &:hover {
          color: $secondary-accent-color-dark;
          background: $background-dark;
        }

      }
    }
  }
}