/*--- Colors ---*/

// light theme
$background-light: #FAFAFA;
$foreground-light: #202020;
$accent-color-light: #03a9f4;
$secondary-accent-color-light: #1ECD97;
$font-primary-light: #202020;
$font-secondary-light: #404040;
$font-tertiary-light: #606060;
$selection-light:#B3E5FC;

// dark theme
$background-dark: #282A36;
$foreground-dark: #F8F8F2;
$accent-color-dark: #03a9f4;
$secondary-accent-color-dark: #1ECD97;
$font-primary-dark: #F8F8F2;
$font-secondary-dark: #DFDFD9;
$font-tertiary-dark: #ACACA6;
$selection-dark: #44475a;

/*--- Sizing ---*/
$width: 800px;
