/* Colors */
$background: #ECEFF1;
$alt-background: #f0f0f0;
$accent: #cdcdcd;
$alt-accent: #404040;
$primary: #00B0FF;
$secondary: rgb(255, 90, 95);
$green: #00E676;
$yellow: #FFEA00;
$light: #f2f2f2;
$link: $primary;
$link-hover: darken($link-color, 15%);
$selection: #90CAF9;
$error: #d33c40;
$code: Menlo;