/*--- Light Theme ---*/
.light {
  background: $background-light;
  color: $foreground-light;
  transition: all 0.6s ease;

  ::selection {
    background: $selection-light;
  }
}

/*--- Dark Theme ---*/
.dark {
  background: $background-dark;
  color: $foreground-dark;
  transition: all 0.6s ease;

  ::selection {
    background: $selection-dark;
  }
}