/*--- Light Theme ---*/
.light {
  background: $background-light;
  color: $foreground-light;
  transition: all 0.6s ease;

  ::selection {
    background: $selection-light;
  }

  @include set-theme-color($background-light, $foreground-light, $font-primary-light, $font-secondary-light, $font-tertiary-light, $accent-color-light, $selection-light);
}

/*--- Dark Theme ---*/
.dark {
  background: $background-dark;
  color: $foreground-dark;
  transition: all 0.6s ease;

  ::selection {
    background: $selection-dark;
  }

  @include set-theme-color($background-dark, $foreground-dark, $font-primary-dark, $font-secondary-dark, $font-tertiary-dark, $accent-color-dark, $selection-dark);
}