---
import PagesLayout from '../../layouts/PagesLayout.astro';
import Button from '../../components/ui/Button.astro';
import { getEntry } from 'astro:content';
import './_index.css';

const resumePage = await getEntry('pages', 'resume');
if (!resumePage) {
  throw new Error("Resume page content not found");
}

const { Content } = await resumePage.render();
---

<PagesLayout title={resumePage.data.title} currentPath="/resume">
  <div class="resume-page">
    <div class="resume-actions">
      <Button id="download-pdf-desktop" class="desktop-btn js-print-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="7 10 12 15 17 10"/><line x1="12" x2="12" y1="15" y2="3"/></svg>
        Download PDF
      </Button>
      <Button id="download-pdf-mobile" variant="icon" class="mobile-btn js-print-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="7 10 12 15 17 10"/><line x1="12" x2="12" y1="15" y2="3"/></svg>
      </Button>
    </div>
    <Content />
  </div>

<script>
  const downloadBtns = document.querySelectorAll('.js-print-btn');
  downloadBtns.forEach(btn => {
    btn.addEventListener('click', () => {
      window.print();
    });
  });
</script>
</PagesLayout>
